body{
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: white;
}
.navjog{
width: 98px;
height: 87px;
background-image: url("ulo.png");
background-color: #cccccc;

position: absolute;
}
.telamsg{
position: absolute;
margin-left: -25%;
top: 50px;
left: 50%;
width: 720px;
height: 621px;
display: none;


}
#medidorplaneta{
	border: 2px solid #000;
	width: 330px;
	height: 20px;
	background-color: #fff;

}
#barraplaneta{
width:330px;
height:20px;
background-color:#bbb;

}
.tirojog{
	width: 20px;
	height: 20px;
	border-radius: 6px;
	position: absolute;
	background-color: black;
}
.bomb{
	width: 45px;
	height: 55px;
	background-image:url("im.png");
	background-color: #cccccc;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
}
.explosachao{
	background-image: url("ezgif.com-crop.gif");
	width:60px;
	height:110px;
	position: absolute;
}
.explosaar{
	background-image: url("ezgif.com-crop.gif");
	width:66px;
	height:110px;
	position: absolute;
}	
